<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab01">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Task1Activity" />
        <activity android:name=".Task2Activity" />
        <activity android:name=".Task3Activity" />
        <activity android:name=".Task4Activity" />
        <activity android:name=".Task5Activity" />
        <activity android:name=".Task6Activity" />
        <activity android:name=".Task7Activity" />

    </application>

</manifest>
